<!DOCTYPE html>
<html>
    <head>
        <title>Website</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <h2>Welcome</h2>
        <h3>Welcome</h3>
        <h4>Welcome</h4>
        <h5>Welcome</h5>
        <h6>Welcome</h6>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat ipsum optio corporis esse asperiores quas dicta necessitatibus consequatur incidunt rem. Est omnis, maiores nostrum velit nisi fugit suscipit laboriosam quo?</p>

        <img src="images/one.jpg" alt="text" width="300"/>

        <a href="https://www.amazon.in/">Amazon</a>

        <ul>
            <li><a href="">About Amazon</a></li>
            <li>Careers</li>
            <li>Press Releases</li>
        </ul>

    </body>
</html>